<!DOCTYPE html>

<html>
<head>
    @* <title>@ViewBag.Title</title> *@
    <title>MVC | Student Management System</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="text-center pt-2">
    <h1>** Welcome to Student Management System ** </h1>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
